.custom-navbar, .container-fluid{
    background-color: rgb(30, 61, 38);
}
.custom-navbar .navbar{
    padding: 0;
}
.container-fluid .navbar-brand{
    color: white;
}
.nav-item a{
    color:rgb(171, 226, 171)
}
.nav-item a:hover{
    background-color:rgba(255, 255, 255, 0.546);
    border-radius: 5px;
    transition: background-color 1s;

}
.container-fluid .navbar-toggler{
    border: 0.3px solid white;
}
.container-fluid .navbar-toggler svg{
    fill: white;
}
.card-container{
    padding-top: 50px;
}
.card .card-body .column .btn-primary{
    background-color: #1d8e7f;
    border: none;
    box-shadow: 10px 4px 19px 3px rgba(148,148,148,0.75);
}
.custom-modal-content .modal-header{
    background-color: rgb(70, 129, 70);
}
.custom-modal-content .modal-header h5{
    color: white;
}
.custom-modal-content .modal-footer .btn-secondary{
    background-color: red;
    border: none;
}
.custom-modal-content .modal-footer .btn-primary{
    border: none;
}
.custom-form .custom-input{
    border-radius: 15px;
}
.custom-form .custom-input:focus{
    border-color: #28a745; /* Custom focus border color */
    box-shadow: 0 0 5px #28a745; /
}

